/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background-color: hsl(var(--clr-light-grayish-cyan));
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* COLORS */

:root {
    --clr-strong-cyan: 172 67% 45%;
    --clr-very-dark-cyan: 183 100% 15%;
    --clr-dark-grayish-cyan: 186 14% 43%;
    --clr-grayish-cyan: 184 14% 56%;
    --clr-light-grayish-cyan: 185 41% 84%;
    --clr-very-light-grayish-cyan: 189 41% 97%;
    --clr-white: 0 0% 100%;
}


/* Label styling */
label {
    color: hsl(var(--clr-dark-grayish-cyan));
    display: inline-block;
    margin-bottom: .4rem;
}

/* Input text box  styling */
input[type="text"] {
    background-color: hsl(var(--clr-very-light-grayish-cyan));
    border: none;
    border-radius: 5px;
    color: hsl(var(--clr-very-dark-cyan));
    font-size: 1.5rem;
    outline: none;
    padding-right: 1rem;
    text-align: right;
    width: 100%;
}

input[type="text"]:focus {
    outline: 2px solid hsl(var(--clr-strong-cyan));
}

/* Placehodler styling */
#bill-text-input::placeholder {
    text-align: right;
    color: hsl(var(--clr-dark-grayish-cyan));
}

#people-text-input::placeholder {
    text-align: right;
    color: hsl(var(--clr-dark-grayish-cyan));
}


/* MAIN */

/* logo */
.logo {
    margin: 0 auto 6rem auto;
}

/* container */
.calc-container {
    background-color: hsl(var(--clr-white));
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-self: center;
    padding: 1.5rem;
    margin-bottom: 10rem;
    width: clamp(50%, 65vw, 90%);
}


/* LEFT SIDE OF APP */

/* FORM LAYOUT */
.calc-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

/* Bill input icon positioning */
.bill-text-input-container {
    position: relative;
}

.bill-text-input-container img {
    position: absolute;
    top: 40px;
    left: 20px;
}


/* Tip button layouts and styling */
.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.tip-button {
    background-color: hsl(var(--clr-very-dark-cyan));
    border: none;
    border-radius: 5px;
    color: hsl(var(--clr-white));
    cursor: pointer;
    font-size: 1.5rem;
    padding-block: .25rem;
}

.tip-button:hover {
    background-color: hsl(var(--clr-light-grayish-cyan));
    color: hsl(var(--clr-very-dark-cyan));
}

.tip-button-toggle {
    background-color: hsl(var(--clr-strong-cyan));
    color: hsl(var(--clr-very-dark-cyan));
}



/* People input icon positioning */
.people-text-input-container {
    position: relative;
}

.people-text-input-container img {
    position: absolute;
    top: 40px;
    left: 20px;
}

/* Error styling and hide utility class */
.error {
    color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.hide {
    display: none;
}


/* RIGHT SIDE OF APP */
.output-screen {
    background-color: hsl(var(--clr-very-dark-cyan));
    border-radius: 15px;
    color: hsl(var(--clr-white));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 2rem 2rem 2rem;
}

.dollar-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dollar-amount-container span {
    color: hsl(var(--clr-grayish-cyan));
    font-size: .85rem;
}

.dollar-amount {
    color: hsl(var(--clr-strong-cyan));
    font-size: 2.75rem;
}

.reset-button {
    background-color: hsl(var(--clr-strong-cyan));
    border: none;
    border-radius: 5px;
    color: hsl(var(--clr-very-dark-cyan));
    cursor: pointer;
    font-size: 1.25rem;
    padding-block: .5rem;
    margin-top: auto;
}

.reset-button:hover {
    background-color: hsl(var(--clr-light-grayish-cyan));
    color: hsl(var(--clr-very-dark-cyan));
}


/* TABLET AND MOBILE SIZES */

@media (max-width: 900px) {
    .calc-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        margin: auto;
    }

    .calc-container {
        width: 100%;
        gap: 1rem;
        border-radius: 20px 20px 0 0;
        margin: 0;
        justify-self: end;
    }

    .button-container {
        grid-template-columns: 1fr 1fr;
    }

    .dollar-amount {
        font-size: 2rem;
    }
}